extends layout

block content
	h1= title
	p.
		This is data being retrieved from the Guild Wars 2 API, and being rendered in a table using jade.
	#gw2table
		table(class='gw-table')
			tr
				th ID
				th World
			each world, i in worldNames
				tr
					td(class='list-id')= world.id
					td(class='list-name')= world.name
		table(class='gw-table')
			tr
				th ID
				th Map
			each map, i in mapNames
				tr
					td(class='list-id')= map.id
					td(class='list-name')= map.name
		table(class='gw-table')
			tr
				th ID
				th Event
			each gwEvent, i in eventNames
				tr
					td(class='list-id')= gwEvent.id
					td(class='list-name')= gwEvent.name