extends layout

block content
    script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
    div(id='recipe-header')
        img(id='head-img' src='../../images/header.png')
        h1= name
    

    //- div(id="recipe-info")
    //-     div(class="item-stats")
    //-         h3= name
    //-         p Defense: 
    //-             span=defense
    //-         div(class="item-attributes")
    //-             p=attrib_1
    //-             p=attrib_2
    //-             p=attrib_3
    //-         div(class="item-category")
    //-             p=type
    //-             p=weight
    //-             p Required Level: 
    //-                 span=level
    //-             p=description

    div(id="tree-container" class=item_id)
    script(type="text/javascript" src="js/recipetree.js" )